.wrapper {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right {
  width: 240px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  header {
    font-weight: bold;
    border-bottom: 1px solid #c7cdd1;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  b {
    font-size: large;
    color: green;
    display: flex;
    margin-bottom: 40px;
    .fa {
      width: 16px;
      height: 16px;
      margin: auto 10px auto 0;
    }
  }
  b.closed {
    color: #ff3333;
  }
  b.score {
    color: black;
  }
}

.header {
  height: 42px;
  margin-bottom: 24px;
  display: flex;
  .title {
    font-size: x-large;
    flex-grow: 1;
    margin: 5px 0;
  }
  .headerSubmit {
    display: flex;
    .fileName {
      margin: auto;
      padding: 5px;
      background-color: #f4f4f4;
    }
    .submit {
      width: 60px;
      height: 42px;
      margin: 2px 2px 2px 10px;
      background-color: #0f0f70;
      color: white;
      border-radius: 2px;
      font-size: medium;
      cursor: pointer;
      display: flex;
      p {
        margin: auto;
      }
    }
  }
  .upload {
    width: 120px;
    height: 42px;
    margin: 2px;
    background-color: #0f0f70;
    color: white;
    border: 0 solid;
    border-radius: 2px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    p {
      margin: auto;
    }
  }
}

.details {
  border-top: 1px solid #c7cdd1;
  border-bottom: 1px solid #c7cdd1;
  display: flex;
  height: 24px;
  padding: 12px 0;
  margin: 0 0 24px 0;
  b {
    margin: auto 10px auto 0;
    font-size: 18px;
  }
  li {
    list-style: none;
    margin: auto 40px auto 0;
  }
}

.content {
  padding: 0;
}

.download {
  &:hover {
    cursor: pointer;
  }
}

.link {
  color: #005dc6;
  text-decoration: underline;
  cursor: pointer;
}