.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  width: 600px;
  height: 450px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.34);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  border: 0;
  border-radius: 5px;
  header {
    display: flex;
    .title {
      font-size: 20px;
      text-align: left;
      margin: 0 auto auto 0;
      flex-grow: 1;
    }
    .x {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .dragdrop {
    margin: 10px 0 20px 0;
    flex-grow: 1;
    border: 1px dashed #AEADAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    form {
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0;
    }
    .file {
      height: 100%;
      //pointer-events: none;
      .fa {
        color: #AEADAD;
        width: 80px;
        height: 80px;
        margin: 30px auto 20px auto;
      }
      img {
        width: 80px;
        height: 80px;
        margin: 70px auto 20px auto;
      }
      p {
        margin: 0 auto 10px auto;
      }
      .button {
        width: 80px;
        background-color: #3679F1;
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        border: 1px solid #AEADAD;
        border-radius: 3px;
        margin: 10px auto;
        cursor: pointer;
        pointer-events: auto;
        &:hover {
          background-color: #3669F1;
        }
      }
      .fileName {
        margin-top: 15px;
        font-weight: 600;
      }
    }
    .file.dragging {
      background-color: #f8f8f8;
    }
  }
  form {
    display: flex;
    .cancel {
      background-color: white;
      padding: 5px 10px;
      font-size: 16px;
      border: 1px solid #AEADAD;
      border-radius: 3px;
      cursor: pointer;
      margin: auto 0 auto auto;
      &:hover {
        background-color: #F1F1F1;
      }
    }
    .save {
      background-color: #3679F1;
      padding: 5px 10px;
      font-size: 16px;
      border: 1px solid #AEADAD;
      border-radius: 3px;
      cursor: pointer;
      color: white;
      margin: auto 0 auto 20px;
      &:hover {
        background-color: #3669F1;
      }
    }
    .cancel {

    }
  }
}