.wrapper {
  display: flex;
  margin-bottom: 30px;
}

.title {
  width: 50%;
}

.content {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;

  input {
    width: 398px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px 0px;
    border-width: 1px;
  }
}

.edit {
  button {
    border: none;
    color: darkblue;
    background-color: white;
    font-weight: 700;
    font-size: 15px;
  }

  button:hover {
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.cancel-button {
  width: 70px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #aeadad;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}

.submit-button {
  width: 70px;
  height: 35px;
  color: white;
  background: #3679f1;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  font-size: 14px;

  &:hover {
    cursor: pointer;
  }
}
