.wrapper {
  display: flex;
  margin-bottom: 30px;
}

.title {
  width: 50%;
}

.content {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
}
