.wrapper {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .listButton {
    background-color: #6a6d80;
    color: white;
    padding: 9px 15px;
    width: 80px;
    height: 38px;
    border-radius: 5px;
    border: solid;
    &:hover {
      background-color: #3f424edb;
      cursor: pointer;
    }
  }

  section {
    border-top: solid #6a6d80;
    border-bottom: 1px solid rgb(128, 128, 128);
    h2 {
      font-size: 20px;
      line-height: 24px;
      background-color: #edf1f7;
      display: block;
      border-bottom: 1px solid rgb(190, 190, 190);
      box-sizing: border-box;
      margin: 0;
      padding: 15px 20px;
    }
    .explainContainer {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      padding-left: 0;

      .flex {
        display: flex;
        .contentName {
          font-style: normal;
          font-size: 14px;
          line-height: 17px;
          white-space: break-spaces;
          color: rgb(51, 51, 51);
          font-weight: 700;
          margin-left: 20px;
        }
        .content {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          white-space: break-spaces;
          color: rgb(51, 51, 51);
          margin-left: 5px;
          .clockIcon {
            vertical-align: middle;
            margin: 0px 2px;
            width: 13px;
          }
        }
      }
    }
    article {
      padding: 20px;
      border-top: solid #cccccc;
      font-size: 15px;
    }

    .previousContainer {
      border: solid #cccccc;
      border-radius: 10px;
      display: flex;
      overflow: hidden;
      margin-bottom: 20px;
      height: 50px;
      border: 1px solid rgb(204, 204, 204);
      .previousTitle {
        display: flex;
        padding: 0 20px;
        width: 90px;
        align-items: center;
        font-family: Pretendard;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        background-color: rgb(249, 249, 249);
        border-radius: 5px 0px 0px 5px;
        border-right: 1px solid rgb(204, 204, 204);
      }
      .previous {
        display: flex;
        align-items: center;
        font-family: Pretendard;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 17px 20px;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;

    h3 {
      padding: 15px 0px;
      margin: 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgb(221, 221, 221);

      .numberOfComment {
        margin-left: 10px;
        padding: 1px 10px;
        background: rgb(52, 195, 143);
        border-radius: 24px;
        border: 0;
        width: fit-content;
        height: 20px;
        color: white;
        font-weight: 700;
        font-size: 15px;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      border-top: none;
      width: 100%;
      border-bottom: 1px solid rgb(221, 221, 221);
      padding: 15px 0px;
      box-sizing: border-box;

      .commentCreaterInfo {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }
        .content {
          margin-left: 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: rgb(128, 128, 128);
        }
      }
      p {
        width: 100%;
        padding: 0px 0px 10px;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      .replyInput {
        resize: none;
        margin-top: 10px;
        height: 90px;
        width: 98%;
        border-radius: 10px;
        border: 1px solid rgb(204, 204, 204);
      }
      .commentButton {
        background-color: #6a6d80;
        color: white;
        padding: 9px 15px;
        width: 80px;
        height: 38px;
        border-radius: 5px;
        border: solid;
        margin-top: 20px;
        margin-left: auto;

        &:hover {
          background-color: #3f424edb;
          cursor: pointer;
        }
      }
    }
  }
}
