.header {
  padding: 35px 0;
  text-align: center;
  background: #0f0f6b;
  position: relative;

  img {
    width: 211px;
    height: 51px;
  }
}

.content {
  padding: 100px 20px 100px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;

  article {
    max-width: 589px;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
    box-sizing: border-box;
  }
}

.logincontainer {
  display: table;
  padding: 6% 7%;
  margin: 0;
  margin-bottom: 40px;
  border: 3px solid #0a1971;
  background: #fff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.idAndPwInput {
  padding: 0 10px 0 10px;
  border: 1px solid #c7c7c7 !important;
  width: 100%;
  height: 41px !important;
  min-width: 155px;
  border-radius: 5px;
  margin-bottom: 11px;
  font-family: normal;
  box-sizing: border-box;
}

.loginButton {
  border: 1px solid #0a1971;
  background-color: #0a1971;
  color: #fff !important;
  padding: 0 39px !important;
  line-height: 41px;
  font-size: 18px;
  border-radius: 5px;
  width: 77%;
  margin: 18px auto 0;
  &:hover {
    cursor: pointer;
  }
}

.signUpButton {
  border: 1px solid #02acc4;
  background-color: #02acc4;
  color: #fff !important;
  padding: 0 39px !important;
  line-height: 41px;
  font-size: 18px;
  border-radius: 5px;
  width: 77%;
  margin: 18px auto 0;
  &:hover {
    cursor: pointer;
  }
}

.socialLogin {
  text-align: center;
  box-sizing: border-box;

  h3 {
    font-size: 1.5em;
    letter-spacing: -0.7px;
    margin: 0;
    padding: 0 0 20px 0;
    text-align: left;
    box-sizing: border-box;

    p {
      font-size: 15px;
      font-weight: 200;
      margin: 0;
      padding: 20px 0 0 15px;
    }
  }

  .google-login-button {
    display: inline-block;
    width: 19%;
    padding: 17px 0;
    border: 1px solid #dcdcdc;
    text-align: center;
    vertical-align: middle;

    img {
      width: 25px;
      height: 25px;
      top: 50%;
      vertical-align: middle;
    }

    span {
      font-size: 14px;
      text-align: left;
      padding: 0 0 0 10px;
      vertical-align: middle;
      top: 50%;
    }
  }
  .google-login-button:hover {
    cursor: pointer;
  }

  .kakao-login:hover {
    cursor: pointer;
  }
}

.footer {
  padding: 27px 0;
  background: #f8f8f8;
  display: block;

  address {
    text-align: center;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.5px;

    .copyright {
      color: #adadad;
      margin: 0;
      padding: 0;
    }
  }
}
