@import "../board/boardList/BoardList.module.scss";

.section {
  display: flex;
}

.typeSearchbar {
  height: 2.375rem;
  padding: 8px;
  font-size: 0.875rem;
  line-height: 2.375rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  width: 220px;
  margin-left: 10px;
}

.table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;

  thead {
    vertical-align: middle;

    tr {
      font-weight: bold;
      vertical-align: middle;
      border-bottom: 1px solid #a5afb5;
      line-height: 1.3;
      text-align: left;
      font-size: 0.875rem;

      th {
        padding: 7px;
        padding-bottom: 3.5px;

        &.pic {
          width: 15%;
        }
        &.name {
          width: 35%;
          text-align: left;
        }
        &.subject {
          width: 30%;
          text-align: left;
        }

        &.type {
          width: 20%;
          text-align: left;
        }
      }
    }
  }

  tbody {
    tr {
      height: 40px;
      vertical-align: middle;
      border-bottom: 1px solid #c7cdd1;
      background-color: white;
      font-size: 0.875rem;
      transition: background-color 0.3s;

      &:nth-child(even) {
        background-color: #ffffff;
      }

      &:nth-child(odd) {
        background-color: #f5f5f5;
      }

      &:hover {
        background-color: #e5f2f8;
      }
      td {
        padding: 7px;

        .circleUser {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          line-height: 35px;
        }

        .name {
          color: #066fe1;
        }
      }
    }
  }
}
.button-container {
  @include button-container();
}

.nav-button {
  @include nav-button();
}

.active {
  @include active();
}
