.wrapper {
  box-sizing: border-box;
  width: 300px;
  padding: 24px;
  h2 {
    border-bottom: 1px solid #c7cdd1;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 17px;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }
  span {
    padding-left: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
}
