.wrapper {
  background-color: white;
  .headerbar {
    border-bottom: 1px solid #c7cdd1;
    min-height: 33px;
    padding-bottom: 12px;
    display: flex;
    button {
      background-color: #f5f5f5;
      border: 1px solid #c7cdd1;
      padding: 8px 14px;
      border-radius: 3px;
      font-size: 1rem;
      margin-left: auto;
      &:hover {
        background-color: #e8e8e8;
        cursor: pointer;
      }
    }
  }
}

@mixin content {
  padding: 12px 6px 12px 10px;
  box-sizing: border-box;
  border: 1px solid #c7cdd1;
  border-top: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  overflow: hidden;

  &:hover {
    background-color: #eef7ff;
  }
  .paperClip {
    color: #929a9f;
    height: 18px;
    padding: 6px;
  }
  span {
    padding: 5px;
  }
}

.moduleContainer {
  padding: 39px 9px 24px 9px;
  box-sizing: border-box;
  header {
    background-color: #f5f5f5;
    border: 1px solid #c7cdd1;
    padding: 17px 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    &:hover {
      cursor: pointer;
    }
    .caret {
      height: 16px;
      width: 16px;
      padding: 0 5px;
    }
  }
  .contentContainer {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    box-sizing: border-box;
    &Show {
      padding: 0;
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(1, 0, 1, 0);
      box-sizing: border-box;
      overflow: hidden;
      .contentShow {
        @include content();
      }
    }
    .content {
      @include content();
    }
  }
}

.download:hover {
  cursor: pointer;
}
