@import "../../board/boardList/BoardList.module.scss";
.selectSubjectPagewrapper {
  display: flex;

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;

    header {
      width: 95%;
      height: 72px;
      margin: 0 24px;
      border-bottom: 1px solid #c7cdd1;
      display: flex;

      h1 {
        margin: auto 0;
        font-size: 27px;
        font-weight: 400;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .search {
        display: flex;
        width: 100%;
        margin-top: 80px;

        input {
          width: 50%;
          height: 45px;
          padding: 10px 14px;
          margin: auto;
          box-sizing: border-box;
          border: 2px solid #d9d9d9;
          border-radius: 5px;
          font-size: medium;
        }

        button {
          width: 60px;
          height: 45px;
          box-sizing: border-box;
          margin: auto auto auto 10px;
          background-color: #0f0f6b;
          border: 0;
          border-radius: 5px;
          cursor: pointer;

          .icon {
            margin: auto;
            width: 20px;
            height: 20px;
            color: white;
          }
        }
      }
    }
  }

  article {
    margin: 50px auto;
    width: 80%;
    margin-bottom: 20px;
    .index {
      padding-bottom: 30px;
      border-bottom: 2px solid #aeadad;
      display: flex;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      .name {
        padding-left: 5%;
        flex-grow: 1;
        text-align: left;
        font-weight: 500;
      }
      .professor {
        width: 50%;
        font-weight: 500;
      }
      .enroll {
        width: 15%;
        font-weight: 500;
      }
    }
  }
}

.button-container {
  @include button-container();
}

.nav-button {
  @include nav-button();
  font-size: 18px;
  padding: 10px;
}

.active {
  @include active();
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 200px;
  background-color: white;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.34);
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 5px;
  article {
    display: flex;
    flex-grow: 1;
    text-align: center;
    b {
      font-size: 18px;
    }
    div {
      margin: auto;
    }
  }
  footer {
    display: flex;
    button {
      width: 50%;
      height: 50px;
      border: 0;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
    }
    button.cancel {
      background-color: #d9d9d9;
      color: white;
      border-radius: 0 0 0 5px;
    }
    button.ok {
      background-color: #0f0f6b;
      color: white;
      border-radius: 0 0 5px 0;
    }
  }
}
