.container {
  height: 100vh;
  display: flex;
}

.wrapper {
  box-sizing: border-box;
  width: 84px;
  background-color: skyblue;
}

@media screen and (max-width: 760px) {
  // .wrapper {
  //   display: none;
  // }
}

.buttonContainer {
  box-sizing: border-box;
  width: 84px;
  height: auto;
  border: solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonContainer:hover {
  background-color: white;
}
