.container {
  display: flex;
}

.wrapper {
  box-sizing: border-box;
  width: 84px;
  background-color: darkblue;
}

@media screen and (max-width: 760px) {
  // .wrapper {
  //   display: none;
  // }
}

.buttonContainer {
  box-sizing: border-box;
  width: 84px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 5px;

  svg {
    fill: white;
  }
}

.buttonContainer:hover,
.buttonContainer.selected {
  background-color: white;
  color: black;
  cursor: pointer;
  svg {
    fill: black;
  }
}

.logoContainer {
  box-sizing: border-box;
  width: 84px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.logoContainer :hover {
  cursor: pointer;
}
