.container {
  display: flex;

  a {
    text-decoration: none;
  }
}

.wrapper {
  min-height: 100vh;
  box-sizing: border-box;
  width: 84px;
  background-color: #0f0f6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

@media screen and (max-width: 760px) {
  // .wrapper {
  //   display: none;
  // }
}

@media screen and (min-width: 1200px) {
  // .wrapper {
  //   height: 100vh;
  // }
}

.button-wrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  flex-wrap: wrap;
  top: 0;
}

.button-container {
  // flex: 1;
  // margin: 5px;
  box-sizing: border-box;
  width: 84px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 12px 5px;

  svg {
    fill: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.button-container:hover,
.button-container.selected {
  background-color: white;
  color: black;
  cursor: pointer;
  svg {
    fill: black;
  }

  a {
    color: black;
  }
}

.logo-container {
  box-sizing: border-box;
  width: 60px;
  height: auto;
  padding: 5px 5px 15px 5px;
  padding-top: 10px;
}

.logo-container :hover {
  cursor: pointer;
}

.faIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
