.container {
  display: flex;
}

.wrapper {
  box-sizing: border-box;
  width: 84px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

@media screen and (max-width: 760px) {
  // .wrapper {
  //   display: none;
  // }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    height: 100vh;
  }
}

.buttonContainer {
  box-sizing: border-box;
  width: 84px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 5px;

  svg {
    fill: white;
  }
}

.buttonContainer:hover,
.buttonContainer.selected {
  background-color: white;
  color: black;
  cursor: pointer;
  svg {
    fill: black;
  }
}

.logoContainer {
  box-sizing: border-box;
  width: 60px;
  height: auto;
  padding: 5px;
  padding-top: 10px;
}

.logoContainer :hover {
  cursor: pointer;
}
