.wrapper {
  display: flex;
}

.right {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 72px;
  width: 95%;
  margin: 0px 24px;
  border-bottom: 1px solid #c7cdd1;
  display: flex;
  vertical-align: middle;
  box-sizing: border-box;
  align-items: center;
  font-size: x-large;
}

.sub-title {
  margin-top: 40px;
  align-self: flex-start;
  margin-left: 5%;
  font-weight: bold;
  font-size: larger;
}

.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 89%;

  ul {
    width: 100%;
    padding-left: 0px;
    margin: 0;
  }
}

.title-container {
  display: flex;
  width: 100%;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  border-bottom: 1px solid #aeadad;
  padding: 12px 20px;

  .subject {
    margin-left: 10px;
    width: 50%;
  }

  .professor {
    width: 20%;
  }

  .evaluated {
    width: 15%;
  }

  .evaluation {
    width: 15%;
    padding-left: 5px;
  }
}
