.wrapper {
  display: flex;
}

.right {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  height: 72px;
  width: 95%;
  margin: 0px 24px;
  border-bottom: 1px solid #c7cdd1;
  display: flex;
  vertical-align: middle;
  box-sizing: border-box;
  align-items: center;
  font-size: x-large;
}

.sub-title {
  margin-top: 40px;
  align-self: flex-start;
  margin-left: 5%;
  font-weight: bold;
  font-size: larger;
}

.body {
  width: 90%;
  align-self: center;
  .title {
    margin: 20px 0px 10px 0px;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
  .submit {
    margin-left: 10px;
    padding: 9px 15px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    background-color: #0f0f6b;
    color: white;
    border: solid 0.9px #777777;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: #0b4b95;
    }
  }
  .cancel {
    padding: 9px 15px;
    width: 120px;
    height: 40px;
    font-size: 15px;

    background-color: white;
    border: solid 0.9px #777777;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: #0b4b95;
      color: white;
    }
  }
}
