.wrapper {
  display: flex;
}

.right {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  width: 95%;
  height: 72px;
  margin: 0 24px;
  border-bottom: 1px solid #c7cdd1;
  display: flex;

  h1 {
    margin: auto 0;
    font-size: 25px;
    font-weight: 400;
  }
}
.body {
  display: flex;
  flex-direction: column;
  padding: 50px 15% 50px 10%;
}

.title {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 41px;
  margin-bottom: 20px;
}

.button {
  margin: auto auto auto 0;
  width: 100px;
  cursor: pointer;
  &:hover {
    background-color: red;
    color: white;
  }
}
