.wrapper {
  display: flex;
}

.right {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  height: 72px;
  margin: 0px 24px;
  border-bottom: 1px solid #c7cdd1;
  display: flex;
  vertical-align: middle;
  box-sizing: border-box;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
}

.title {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 41px;
  margin-bottom: 20px;
}

.button {
  margin: auto auto auto 0;
  width: 100px;
  cursor: pointer;
  &:hover {
    background-color: red;
    color: white;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  width: 600px;
  height: 450px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.34);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  header {
    display: flex;
    .title {
      text-align: left;
      margin: 0 auto auto 0;
      flex-grow: 1;
    }
    .x {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  article {
    margin: 10px 0 20px 0;
    flex-grow: 1;
    border: 1px dashed #AEADAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .image {
      color: #AEADAD;
      width: 80px;
      height: 80px;
      margin: 30px auto;
    }
    p {
      margin: 0;
    }
    button {
      width: 80px;
      background-color: #3679F1;
      color: white;
      padding: 5px 10px;
      font-size: 14px;
      border: 1px solid #AEADAD;
      border-radius: 3px;
      margin: 10px auto;
      cursor: pointer
    }
  }
  footer {
    display: flex;
    button {
      background-color: white;
      padding: 5px 10px;
      font-size: 14px;
      border: 1px solid #AEADAD;
      border-radius: 3px;
      cursor: pointer;
    }
    button.save {
      background-color: #3679F1;
      color: white;
      margin: auto 0 auto 20px;
    }
    button.cancel {
      margin: auto 0 auto auto;
    }
  }
}