.wrapper {
  margin-top: 40px;
  background-color: azure;
  width: 160px;
  height: 450px;

  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  li {
    list-style: none;
    margin: 15px;
    margin-left: 20px;
    margin-right: auto;
    color: #292980;
    border: solid white;
  }
  li:hover {
    cursor: pointer;
    border-bottom: solid #292980;
  }
}
