.wrapper {
  flex-grow: 1;

  h2 {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;
    box-sizing: border-box;
    border-top: 1px solid #c7cdd1;
    border-left: 1px solid #c7cdd1;
  }

  li {
    width: auto;
    height: 75px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-right: 1px solid #c7cdd1;
    border-bottom: 1px solid #c7cdd1;
    span {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  nav {
    margin: 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    cursor: pointer;
  }
}
