.wrapper {
  flex-grow: 1;
  margin: 20px;
  overflow: scroll;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .createButton {
      background-color: #167ef4;
      color: white;
      padding: 9px 15px;
      width: 80px;
      height: 38px;
      border-radius: 5px;
      border: solid;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background-color: #0c417e;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .explain {
    background-color: #e8eef2;
    height: 55px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .searchContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    align-items: center;
    input {
      padding: 10px 12px;
      border-radius: 5px;
      width: 190px;
      border-color: #ced4d9;
      border-style: solid;
    }
  }

  section {
    margin-top: 20px;

    .category {
      border-top: 1px solid rgb(204, 204, 204);
      border-bottom: 2px solid rgb(128, 128, 128);
      display: grid;
      grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
      height: 40px;
      box-sizing: border-box;
      align-items: center;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
    }

    ul {
      padding: 0;
      margin-top: 0;
      li {
        display: grid;
        grid-template-columns: 1fr 5fr 2fr 2fr 1fr;
        height: 40px;
        box-sizing: border-box;
        align-items: center;
        text-align: center;
        border-bottom: solid #e6e9ec;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        .title {
          text-align: left;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          .commentCount {
            color: #167ef4;
          }
        }
      }
    }
  }
}

@mixin button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  // align-self: center;
}

@mixin nav-button {
  background-color: white;
  border: none;
  font-size: 14px;
  padding: 2px;
  color: #9d9fa7;
  &:hover {
    cursor: pointer;
    color: #0f0f6b;
    text-decoration: underline;
  }
}
@mixin active {
  color: #0f0f6b;
  text-decoration: underline;
}

.button-container {
  @include button-container();
}

.nav-button {
  @include nav-button();
}

.active {
  @include active();
}
