.wrapper {
  padding: 30px 0;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #AEADAD;
  text-align: center;
  .name {
    margin: auto auto auto 5%;
    flex-grow: 1;
    text-align: left;
  }
  .professor {
    margin: auto;
    width: 50%;
  }
  .enroll {
    width: 15%;
    button {
      color: white;
      background-color: #0F0F6B;
      font-weight: 700;
      border: 0;
      border-radius: 3px;
      padding: 6px 12px;
      cursor: pointer;
      margin: auto;
      font-size: 14px;
    }
    button.drop {
      color: black;
      background-color: #d8d8d8;
    }
    p {
      font-weight: 700;
      padding: 4px;
      margin: auto;
      font-size: 16px;
    }
  }
}