.modal {
  position: absolute;
  height: 100vh;
  z-index: 1;
  background-color: white;
  width: 320px;
  left: 84px;
  padding: 20px;
  box-shadow: 6px 11px 15px -4px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 6px 11px 15px -4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 6px 11px 15px -4px rgba(0, 0, 0, 0.56);

  header {
    align-items: center;
    border-bottom: solid black;
    width: 100%;
    font-size: 30px;
  }

  section {
    border-bottom: solid black;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.closeButton {
  position: absolute;
  right: 10px;
  border: solid black;
}

.closeButton:hover {
  cursor: pointer;
}
