.modal {
  position: absolute;
  height: 100vh;
  z-index: 1;
  background-color: pink;
  width: 320px;
  left: 84px;
  padding: 20px;

  header {
    align-items: center;
    border-bottom: solid black;
    width: 100%;
    font-size: 30px;
  }

  section {
    border-bottom: solid black;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.closeButton {
  position: absolute;
  right: 10px;
  border: solid black;
}
