.modal {
  position: absolute;
  height: 100vh;
  z-index: 1;
  background-color: white;
  width: 320px;
  left: 84px;
  padding: 20px;
  box-shadow: 6px 11px 15px -4px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 6px 11px 15px -4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 6px 11px 15px -4px rgba(0, 0, 0, 0.56);
  animation: scaleLeft 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  header {
    align-items: center;
    border-bottom: 1px solid #c7cdd1;
    padding-bottom: 10px;
    width: 100%;
    font-size: 25px;
  }

  section {
    border-bottom: 1px solid #c7cdd1;
    padding-bottom: 20px;
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li {
        text-decoration: none;
        padding-top: 20px;
        a {
          color: #067bf9;
          span {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  svg {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  button {
    width: 100px;
    border: 1px solid #0a1971;
    background-color: #0a1971;
    color: white !important;
    padding: 0 3px;
    line-height: 41px;
    font-size: 15px;
    border-radius: 5px;
    margin: 20px auto 0;
    &:hover {
      cursor: pointer;
    }
    a {
      color: white;
    }
  }
}

.modal.close {
  animation: scaleBack 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* Show modal content from bottom to top */
@keyframes scaleLeft {
  0% {
    /* 모달 콘텐츠를 하단에 위치시킴 */
    transform: scale(1) translateX(-1000px);
    opacity: 0;
  }
  100% {
    /* 모달 콘텐츠를 본래 위치로 돌려놓음 */
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

@keyframes scaleBack {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1) translateX(-500px);
  }
}
