.h1 {
  font-size: 25px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}

.table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;

  thead {
    vertical-align: middle;

    tr {
      font-weight: bold;
      vertical-align: middle;
      border-bottom: 1px solid #a5afb5;
      line-height: 1.3;
      text-align: left;
      font-size: 0.875rem;

      th {
        padding: 0px 14px 3.5px 14px;
        &.name {
          width: 15%;
        }
        &.dueDate {
          width: 35%;
          text-align: left;
        }
        &.status {
          width: 20%;
          text-align: left;
        }

        &.grade {
          width: 15%;
          text-align: left;
        }
        &.maxGrade {
          width: 15%;
          text-align: left;
        }
      }
    }
  }

  tbody {
    tr {
      height: 40px;
      vertical-align: middle;
      border-bottom: 1px solid #c7cdd1;
      background-color: white;
      font-size: 0.875rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e5f2f8;
      }
      td {
        padding: 14px;

        span {
          color: black;
        }
        &.name {
          color: #066fe1;
        }
      }
    }
  }
}
