.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 4fr repeat(5, 1fr);
  border: solid #d9d9d9 0.5px;

  .title1 {
    grid-column: 1/3;
    grid-row: 1/3;
    border: solid #d9d9d9 0.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 15px;
  }
  .title2 {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-column: 3/8;
    grid-row: 1/2;
    border: solid #d9d9d9 0.5px;
    min-height: 40px;
    font-weight: bold;
    font-size: 15px;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #d9d9d9 0.5px;
    min-height: 30px;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #d9d9d9 0.5px;
    min-height: 40px;
    font-weight: bold;
    font-size: 15px;
  }

  .question {
    display: flex;
    justify-content: start;
    align-items: center;
    border: solid #d9d9d9 0.5px;
    min-height: 30px;
    padding-left: 10px;
  }
}
