.wrapper {
  display: flex;
  border-bottom: 1px solid #aeadad;
  align-items: center;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
}

.subject {
  margin-left: 1%;
  width: 60%;
}

.professor {
  width: 30%;
}

.evaluated {
  width: 10%;
}

.evaluation {
  width: 10%;

  button {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 15px;
    gap: 10px;

    width: auto;
    height: 41px;

    background: #0f0f6b;
    border-radius: 5px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
